<h1 class="text-danger fw-bold">Enrich Description</h1>
<div class="d-flex justify-content-between align-items-center mb-3">
    <p class="mb-0">Evaluate and refine assets description for precision and clarity.</p>
    <input 
      type="text" 
      class="form-control w-25 rounded-pill" 
      placeholder=" Search Enrich..." 
      [(ngModel)]="searchText">
</div>

<div class="table-responsive">
    <table class="table table-striped table-bordered text-center">
        <thead class="table-dark ">
            <tr>
                <th>Empire ID</th>
                <th >Name</th>
                <th >Original Description</th>
                <th >Recommended Description</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @for(use of enrich | assetFilter:searchText  | paginate: { itemsPerPage: itemsPerPage, currentPage: page }; track $index){
            <tr>
                <td>{{ use.empireId }}</td>
                <td>{{ use.name }}</td>
                <td>{{ use.description }}</td>
                <td>-</td>
                <td><button class="rounded-pill btn btn-success">{{ use.status }}</button></td>
            </tr>
            }
        </tbody>
    </table>
    <div class="pagination-container">
        <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>
</div>
